<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shiva.com.hatchery">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_aquarium"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_aquarium"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TankDetals"
            android:label="Tank Details"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ATU_Activity"
            android:label="@string/opt6"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EOD_Checkilist"
            android:label="End of Day Checklist"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".oxygentemp.OxygenTemperature"
            android:label="@string/opt1"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feedingData.DailyFeedingData"
            android:label="@string/opt2"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".oxygentemp.OxygenTemperatureResults"
            android:parentActivityName=".oxygentemp.OxygenTemperature"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EOD_CHK_History"
            android:parentActivityName=".EOD_Checkilist"
            android:screenOrientation="landscape" />
        <activity
            android:name=".feedingData.FeedingHistory"
            android:parentActivityName=".feedingData.DailyFeedingData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mortality.MortalityActivity"
            android:label="Mortality Collection"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mortality.MortalityHistory"
            android:parentActivityName=".mortality.MortalityActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".drugtreatment.DrugTreatmentRecord"
            android:label="Drug Treatment Record"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drugtreatment.DrugTreatmentResults"
            android:label="Drug Treatment History"
            android:parentActivityName=".drugtreatment.DrugTreatmentRecord"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Morning_CheckList"
            android:label="Morning Check List"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Morning_CheckList_History"
            android:label="Morning Check List History"
            android:parentActivityName=".Morning_CheckList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AboutUS"
            android:label="ABOUT US"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".transfer_grading.Transfer_Grading"
            android:label="Transfer and Grading"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".transfer_grading.Transfer_Grading_History"
            android:label="Transfer &amp; Grading History"
            android:parentActivityName=".transfer_grading.Transfer_Grading"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".weightSample.WeightSample"
            android:label="Weight Sample"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".weightSample.WeightSampleHistory"
            android:label="Weight Sample History"
            android:parentActivityName=".weightSample.WeightSample"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".egg.Egg_Receiving_Sheet"
            android:label="Egg Receiving Datasheet"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".egg.Egg_History"
            android:label="Egg Receiving Datasheet Hisory"
            android:parentActivityName=".egg.Egg_Receiving_Sheet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" ></activity>
    </application>

</manifest>